//import global project variables
@import "../../../../variables.scss";

.user {
  display: flex;
  align-items: flex-start;
  padding-bottom: 30px;
  max-width: 343px;
  width: 100%;
}
.user__photo {
  min-width: 67px;
  height: 67px;
  border-radius: 50%;
  margin-right: 28px;
  cursor: pointer;
}
.user__info {
  h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 10px;
    cursor: pointer;
    @include overflow-hidden(57px);
  }
}
.user__info-prof-detail p {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $colorLightGrey;
  margin-bottom: 5px;
}
.user__info-private p {
  font-size: 12px;
  line-height: 14px;
  color: #212121;
  margin: 5px 0;
}
.user__info-prof-detail, .user__info-private {
  @include overflow-hidden(24px);
}

@media only screen and (max-width: 769px) {
  .user__info h3 {
    line-height: 20px;
    font-size: 14px;
  }
  .user__photo {
    min-width: 50px;
    height: 50px;
    background-position: center;
    margin-right: 18px;
  }
}

@media only screen and (max-width: 500px) {

}
