<div class="user">
	<div class="user__photo" [ngStyle]="{'background-image':'url('+profilePhotoUrl+')'}">
	</div>
	<div class="user__info">
		<h3>{{ contact.lastName }} {{ contact.firstName }} {{ contact.middleName }}</h3>
		<div>
			<div class="user__info-prof-detail">
				<p>{{ contact.organization}}</p>
			</div>
			<div class="user__info-prof-detail">
				<p>{{ contact.department}}</p>
			</div>
			<div class="user__info-prof-detail">
				<p>{{ contact.position}}</p>
			</div>
			<div class="user__info-private">
				<p>{{ contact.phone}}</p>
			</div>
			<div class="user__info-private">
				<p>{{ contact.email}}</p>
			</div>
		</div>
	</div>
</div>
